-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: scdb
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `buff`
--

DROP TABLE IF EXISTS `buff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buff` (
  `id` int NOT NULL AUTO_INCREMENT,
  `color` varchar(5) NOT NULL,
  `rate` int NOT NULL,
  `turn` int NOT NULL,
  `val` varchar(100) DEFAULT NULL,
  `support_id` int DEFAULT NULL,
  `pweapon_id` int DEFAULT NULL,
  `link_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `created_by` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `support_id` (`support_id`),
  KEY `pweapon_id` (`pweapon_id`),
  KEY `link_id` (`link_id`),
  CONSTRAINT `buff_ibfk_1` FOREIGN KEY (`support_id`) REFERENCES `support` (`id`),
  CONSTRAINT `buff_ibfk_2` FOREIGN KEY (`pweapon_id`) REFERENCES `pweapon` (`id`),
  CONSTRAINT `buff_ibfk_3` FOREIGN KEY (`link_id`) REFERENCES `pweapon` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buff`
--

LOCK TABLES `buff` WRITE;
/*!40000 ALTER TABLE `buff` DISABLE KEYS */;
/*!40000 ALTER TABLE `buff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deck`
--

DROP TABLE IF EXISTS `deck`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deck` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(20) NOT NULL,
  `created_at` timestamp NOT NULL,
  `created_by` varchar(10) DEFAULT NULL,
  `produce_card_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `produce_card_id` (`produce_card_id`),
  CONSTRAINT `deck_ibfk_1` FOREIGN KEY (`produce_card_id`) REFERENCES `produce_card` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deck`
--

LOCK TABLES `deck` WRITE;
/*!40000 ALTER TABLE `deck` DISABLE KEYS */;
INSERT INTO `deck` VALUES (4,'縺阪ｅ繧薙さ繝｡DaVi','2024-06-26 10:44:17','admin',3),(5,'闃ｱ鬚ｨDaVi','2024-06-29 08:33:58','admin',5);
/*!40000 ALTER TABLE `deck` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deck_passive`
--

DROP TABLE IF EXISTS `deck_passive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deck_passive` (
  `deck_id` int DEFAULT NULL,
  `passive_id` int DEFAULT NULL,
  KEY `deck_id` (`deck_id`),
  KEY `passive_id` (`passive_id`),
  CONSTRAINT `deck_passive_ibfk_1` FOREIGN KEY (`deck_id`) REFERENCES `deck` (`id`),
  CONSTRAINT `deck_passive_ibfk_2` FOREIGN KEY (`passive_id`) REFERENCES `passive` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deck_passive`
--

LOCK TABLES `deck_passive` WRITE;
/*!40000 ALTER TABLE `deck_passive` DISABLE KEYS */;
INSERT INTO `deck_passive` VALUES (4,6),(4,7),(5,6),(5,7),(5,8),(5,9),(5,10);
/*!40000 ALTER TABLE `deck_passive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deck_pweapon`
--

DROP TABLE IF EXISTS `deck_pweapon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deck_pweapon` (
  `deck_id` int DEFAULT NULL,
  `pweapon_id` int DEFAULT NULL,
  KEY `deck_id` (`deck_id`),
  KEY `pweapon_id` (`pweapon_id`),
  CONSTRAINT `deck_pweapon_ibfk_1` FOREIGN KEY (`deck_id`) REFERENCES `deck` (`id`),
  CONSTRAINT `deck_pweapon_ibfk_2` FOREIGN KEY (`pweapon_id`) REFERENCES `pweapon` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deck_pweapon`
--

LOCK TABLES `deck_pweapon` WRITE;
/*!40000 ALTER TABLE `deck_pweapon` DISABLE KEYS */;
INSERT INTO `deck_pweapon` VALUES (4,9),(4,10),(4,7),(4,8),(5,4),(5,3),(5,7),(5,8);
/*!40000 ALTER TABLE `deck_pweapon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deck_support`
--

DROP TABLE IF EXISTS `deck_support`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deck_support` (
  `deck_id` int DEFAULT NULL,
  `support_id` int DEFAULT NULL,
  KEY `deck_id` (`deck_id`),
  KEY `support_id` (`support_id`),
  CONSTRAINT `deck_support_ibfk_1` FOREIGN KEY (`deck_id`) REFERENCES `deck` (`id`),
  CONSTRAINT `deck_support_ibfk_2` FOREIGN KEY (`support_id`) REFERENCES `support` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deck_support`
--

LOCK TABLES `deck_support` WRITE;
/*!40000 ALTER TABLE `deck_support` DISABLE KEYS */;
INSERT INTO `deck_support` VALUES (4,5),(4,6),(4,7),(4,8),(5,9),(5,6),(5,7),(5,8);
/*!40000 ALTER TABLE `deck_support` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passive`
--

DROP TABLE IF EXISTS `passive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passive` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cardname` varchar(20) NOT NULL,
  `passive_type` varchar(10) NOT NULL,
  `short_name` varchar(10) NOT NULL,
  `times` int NOT NULL,
  `rate` int NOT NULL,
  `request` varchar(20) NOT NULL,
  `args` varchar(100) DEFAULT NULL,
  `produce_card_id` int DEFAULT NULL,
  `support_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `created_by` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `produce_card_id` (`produce_card_id`),
  KEY `support_id` (`support_id`),
  CONSTRAINT `passive_ibfk_1` FOREIGN KEY (`produce_card_id`) REFERENCES `produce_card` (`id`),
  CONSTRAINT `passive_ibfk_2` FOREIGN KEY (`support_id`) REFERENCES `support` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passive`
--

LOCK TABLES `passive` WRITE;
/*!40000 ALTER TABLE `passive` DISABLE KEYS */;
INSERT INTO `passive` VALUES (6,'鬧・ｷ壻ｸ翫・譌･蟶ｸ','驥・','鬧・≡',3,10,'(N)繧ｿ繝ｼ繝ｳ莉･蠕・,'3',NULL,5,'2024-06-26 10:41:44','admin'),(7,'豌ｴ髱｢繧剃ｻｰ縺・〒豬ｷ縺ｮ蠎・,'驥・','豬ｷ驥・,3,10,'(N)繧ｿ繝ｼ繝ｳ莉･蠕・,'3',NULL,6,'2024-06-26 10:42:21','admin'),(8,'闃ｱ鬚ｨsmiley','逋ｽ1','闃ｱ鬚ｨ逋ｽ',3,30,'3濶ｲ繝舌ヵ譚｡莉ｶ','',5,NULL,'2024-06-29 08:32:37','admin'),(9,'闃ｱ鬚ｨsmiley','驥・','闃ｱ鬚ｨ驥・',3,30,'辟｡譚｡莉ｶ','',5,NULL,'2024-06-29 08:33:14','admin'),(10,'闃ｱ鬚ｨsmiley','驥・','闃ｱ鬚ｨ驥・',3,30,'3濶ｲ繝舌ヵ譚｡莉ｶ','',5,NULL,'2024-06-29 08:33:46','admin');
/*!40000 ALTER TABLE `passive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passive_rate`
--

DROP TABLE IF EXISTS `passive_rate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passive_rate` (
  `id` int NOT NULL AUTO_INCREMENT,
  `passive_id` int DEFAULT NULL,
  `color` varchar(5) NOT NULL,
  `rate` int NOT NULL,
  `created_at` timestamp NOT NULL,
  `created_by` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `passive_id` (`passive_id`),
  CONSTRAINT `passive_rate_ibfk_1` FOREIGN KEY (`passive_id`) REFERENCES `passive` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passive_rate`
--

LOCK TABLES `passive_rate` WRITE;
/*!40000 ALTER TABLE `passive_rate` DISABLE KEYS */;
/*!40000 ALTER TABLE `passive_rate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produce_card`
--

DROP TABLE IF EXISTS `produce_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produce_card` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idol` varchar(10) NOT NULL,
  `card_name` varchar(30) NOT NULL,
  `created_at` timestamp NOT NULL,
  `created_by` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `card_name` (`card_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produce_card`
--

LOCK TABLES `produce_card` WRITE;
/*!40000 ALTER TABLE `produce_card` DISABLE KEYS */;
INSERT INTO `produce_card` VALUES (3,'蜈ｫ螳ｮ繧√＄繧・,'縺阪ｅ繧薙さ繝｡','2024-06-26 10:39:54','admin'),(5,'讚ｻ譛ｨ逵滉ｹ・,'闃ｱ鬚ｨsmiley','2024-06-29 08:28:42','admin');
/*!40000 ALTER TABLE `produce_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pweapon`
--

DROP TABLE IF EXISTS `pweapon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pweapon` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(20) NOT NULL,
  `ATK_type` varchar(6) NOT NULL,
  `Vo` float DEFAULT NULL,
  `Da` float DEFAULT NULL,
  `Vi` float DEFAULT NULL,
  `Ex` float DEFAULT NULL,
  `link_type` varchar(10) NOT NULL,
  `link_Vo` float DEFAULT NULL,
  `link_Da` float DEFAULT NULL,
  `link_Vi` float DEFAULT NULL,
  `support_id` int DEFAULT NULL,
  `produce_card_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `created_by` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `support_id` (`support_id`),
  KEY `produce_card_id` (`produce_card_id`),
  CONSTRAINT `pweapon_ibfk_1` FOREIGN KEY (`support_id`) REFERENCES `support` (`id`),
  CONSTRAINT `pweapon_ibfk_2` FOREIGN KEY (`produce_card_id`) REFERENCES `produce_card` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pweapon`
--

LOCK TABLES `pweapon` WRITE;
/*!40000 ALTER TABLE `pweapon` DISABLE KEYS */;
INSERT INTO `pweapon` VALUES (3,'闃ｱ鬚ｨsmiley+','whole',1,4,1,0,'ATK',1,1,1,NULL,NULL,'2024-06-29 08:28:42','admin'),(4,'闃ｱ鬚ｨsmiley','whole',0.5,2.5,0.5,0,'ATK',1,1,1,NULL,NULL,'2024-06-29 08:28:42','admin'),(7,'豌ｴ髱｢繧剃ｻｰ縺・〒豬ｷ縺ｮ蠎・,'single',0,3,1.5,0,'no_link',0,0,0,6,NULL,'2024-06-26 10:40:22','admin'),(8,'鬧・ｷ壻ｸ翫・譌･蟶ｸ','single',0,2,2,0,'no_link',0,0,0,5,NULL,'2024-06-26 10:40:25','admin'),(9,'縺阪ｅ繧薙さ繝｡+','whole',1,1,4,0,'ATK',0,0,1.5,NULL,3,'2024-06-26 10:43:15','admin'),(10,'縺阪ｅ繧薙さ繝｡','whole',0.5,0.5,2.5,0,'ATK',0,0,1.5,NULL,3,'2024-06-26 10:44:02','admin');
/*!40000 ALTER TABLE `pweapon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rival_mem_move`
--

DROP TABLE IF EXISTS `rival_mem_move`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rival_mem_move` (
  `index` text,
  `1` double DEFAULT NULL,
  `2` double DEFAULT NULL,
  `3` double DEFAULT NULL,
  `4` double DEFAULT NULL,
  `5` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rival_mem_move`
--

LOCK TABLES `rival_mem_move` WRITE;
/*!40000 ALTER TABLE `rival_mem_move` DISABLE KEYS */;
/*!40000 ALTER TABLE `rival_mem_move` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rival_mem_turn`
--

DROP TABLE IF EXISTS `rival_mem_turn`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rival_mem_turn` (
  `name` varchar(2) NOT NULL,
  `1T` float DEFAULT NULL,
  `2T` float DEFAULT NULL,
  `3T` float DEFAULT NULL,
  `4T` float DEFAULT NULL,
  `5T` float DEFAULT NULL,
  PRIMARY KEY (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rival_mem_turn`
--

LOCK TABLES `rival_mem_turn` WRITE;
/*!40000 ALTER TABLE `rival_mem_turn` DISABLE KEYS */;
INSERT INTO `rival_mem_turn` VALUES ('A',0,0,0.0887097,0.155329,1),('B',0,0,0.0927419,0,0.17619),('C',0,0,0.0866935,0,0.509615),('D',0,0,0.0706357,0.169832,0.773196),('E',0,0,0.0898083,0,0.490385);
/*!40000 ALTER TABLE `rival_mem_turn` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rival_move`
--

DROP TABLE IF EXISTS `rival_move`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rival_move` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(2) DEFAULT NULL,
  `turn` varchar(2) DEFAULT NULL,
  `p` float DEFAULT '0',
  `g` float DEFAULT '0',
  `n` float DEFAULT '0',
  `b` float DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rival_move`
--

LOCK TABLES `rival_move` WRITE;
/*!40000 ALTER TABLE `rival_move` DISABLE KEYS */;
/*!40000 ALTER TABLE `rival_move` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support`
--

DROP TABLE IF EXISTS `support`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(20) NOT NULL,
  `idol` varchar(10) NOT NULL,
  `totu` int NOT NULL,
  `Vo` int NOT NULL,
  `Da` int NOT NULL,
  `Vi` int NOT NULL,
  `Vo_rate` float NOT NULL,
  `Da_rate` float NOT NULL,
  `Vi_rate` float NOT NULL,
  `Ex_rate` float NOT NULL,
  `created_at` timestamp NOT NULL,
  `created_by` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support`
--

LOCK TABLES `support` WRITE;
/*!40000 ALTER TABLE `support` DISABLE KEYS */;
/*!40000 ALTER TABLE `support` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(20) NOT NULL,
  `password` varchar(255) NOT NULL,
  `oath_lv` int NOT NULL DEFAULT '0',
  `created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (7,'admin','$2b$12$aakepBTkmOE.7Aju/mVNc.nj5O222Pp8YAPKqBRWw0ad30HYn9DB2',5,'2024-06-07 18:24:09'),(8,'test','$2b$12$FC2xt3BEotCCuNMQdC6f5eZhXYBMk5aDgP3ZMhLWL5wyzXFrvnAcO',3,'2024-06-08 02:23:58');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-07-02 22:35:35
