
.container{
    top: 3em;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    /* background-color:dodgerblue; */
}

.items{
    padding: 10px;
}

.audition_explain, .status_box{
  margin:auto;
}

.rival{
    border: 1px solid black;
    padding: 5px 30px;
    margin: 10px 0px;
}
.rival>p{
    margin: 0;
}


.judge{
    border: 1px solid black;
    padding: 5px 30px;
    margin: 10px 0px;
}

.judge_name{
    font-size: 20px;
}

.form{
    display: flex;
    justify-content: space-between;
}

.choose_judge{
    display: flex;
    flex-direction: column;
    margin : 10px;
}

.weapon{
    display: flex;
    /* justify-content: center; */
    /* background-color: aquamarine; */
    flex-direction: column;
    padding: 5px 30px;
    margin: 10px 0px;
}
.card_explain{
    font-size: 85%;
}

#judge_critical_box{
  display: flex;
}
.choose_critical {
    display: flex;
    flex-direction: column;
    margin : 10px;
  }

  .choose_critical>lavel {
    /* flex-direction: column; */
    font-size : 80%;
  }

.radio-group {
    display: flex;
    flex-direction: column;
  }

/* 1. ラジオボタンを非表示にする */
input[type="radio"] {
    display: none;
  }
  
  /* 2. ラジオボタンに対応するラベルをスタイル化する */
label {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  /* ラジオボタンが選択されたときのスタイル */
input[type="radio"]:checked +  label {
    border-color: #bf95bf; /* 選択されたときの枠線色 */
    font-weight: bold; /* 選択されたときのフォントの太さ */
    background-color: #ffc6ff;
  }


  .choose_critical label {
    font-size: 16px; /* フォントサイズを小さく */
    display: block;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 2px;
    cursor: pointer;
}
.btn {
    width: 130px;
    margin: 10px auto;
    margin-bottom: 20px;
    height: 40px;
    font-size: large;
    color:#4f6d7a;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #8dbbff;
    background: #c6ddff;
  }
  .btn:hover {
    background: #fff;
    color: #4433ff
  }

#btn-box{
    display:flex;
    justify-content: space-around;
}

#passive_box{
  width:300px;
  display:flex;
  justify-content: center;
  font-size: small;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 0;
}

/* ボックスのスタイル */
.passive_icon {
  list-style: none;
  width: auto;
  padding: 5px;
  text-align: center;
  background-color: #dfdfdf;
  clip-path: polygon(
      15% 0%, 
      85% 0%, 
      100% 50%, 
      85% 100%, 
      15% 100%, 
      0% 50%
  );
}

.active_passive {
  background-color: gold;
}

/* ツールチップの基本スタイル */
.tooltip {
  position: relative;
  display: inline-block;
}

/* ツールチップテキストのスタイル */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px; /* ツールチップの幅 */
  background-color: #c6ddff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 5px); /* ツールチップを下に配置し、ボックスとの間に5pxのスペースを設定 */
  left: 50%;
  transform: translateX(-50%); /* 水平方向の中央配置 */
  opacity: 0;
  transition: opacity 0.3s;
}

/* ホバー時のツールチップ表示 */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#buff_box>ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0px;

}

#buff_box li {
    list-style: none;
    width :45%;
    border:1px solid #e4e3e3;
    padding: 5px;
}

#buff_box {
    width: 300px;
    height: 120px;
    overflow-y: scroll;
    font-size: small;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 0;
}

.buff-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#skill_hist{
  width:300px;
  height:40px;
  display:flex;
  justify-content: start;
  font-size: small;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 0;
}

.skill_record{
  border: 1px solid #ccc;
  padding: 5px;
  margin:5px;
}

#log_box {
  position: absolute;
  bottom: 10%;
  width: 90%;
  height: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #F4F8FF; 
  margin: 0 auto;
  overflow-y: scroll;
  z-index: 3;
}

.log{
  font-size: 70%;
  white-space: pre-line;
  margin: 5%;
  border-top: #4f6d7a;
  border-bottom: #4f6d7a;
}

#endScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .end-screen-content {
    width: 60%;
    height: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .result-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

.chart-container{
  margin:0;
  display: flex;
  justify-content: center;
}

canvas{
  max-width: 200px;
  max-height: 200px;
  margin:10px;
}

#star_detail_box {
  margin: 10px;
  border-collapse: collapse;
}

#star_detail_box table {
  border-collapse: collapse;
  table-layout: auto;
  width: auto; /* テーブルの幅をコンテンツに合わせる */
}

#star_detail_box th, #star_detail_box td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap; /* セルの内容を折り返さないようにする */
}

#star_detail_box th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#star_detail_box tr:nth-child(even) {
  background-color: #f9f9f9;
}

#star_detail_box tr:hover {
  background-color: #f1f1f1;
}

#star_detail_box th, #star_detail_box td {
  text-align: left;
  padding: 8px;
}

/* デッキのスタイル */
#deck {
  display: flex;
  padding:0 5%;
  justify-content:space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #F4F8FF; 

}

.side_idol{
  text-align:center;
}
.side_totu{
  margin-top:-10%;
}

/* 画像のスタイル */
.side_idol img {
  /* margin: 10%; */
  /* max-width: 90%; */
  width:3em;
  height:3em;
}

.deck-btn {
  /* display: flex; */
  padding:0 5%;
  justify-content:space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #F4F8FF; 

}

.deck-btn img {
  /* margin: 10%; */
  /* max-width: 90%; */
  width:3em;
  height:3em;
}

#deck_detail{
  display: flex;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.edit-audition-btn,.reload-audition-btn{
  width: 2em;
  height: 2em;
  background-color: #8e9fff;
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 10%;
  cursor: pointer;
}
.edit-audition-btn:hover,.reload-audition-btn:hover{
  background-color: #0056b3;
}

.select_season {
  width: 50px;
}
.status_box {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
} 

