<head>
    <link rel="stylesheet" href="static/audition.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
{% extends "base.html" %}
{%block content%}
<div id="app">
    <form class="container" @submit.prevent="handleSubmit">
        <div class='items'>
            <div class="audition_explain">
                <p>[[settings.audition_name]] Turn:[[situation.turn]]</p>
                <p>[[settings.produce_idol]]</p>
            </div>
            <div class = 'rival' v-for='rival in settings.rival_list'>
                <p>ライバル[[rival.name]] </p>
                <p>判定:[[rival.critical]] ★[[rival.star]]</p>
                <p v-if='rival.aim==rival.color'>[[rival.baseATK*2]]→[[rival.aim]]</p>
                <p v-else>[[rival.baseATK]]→[[rival.aim]]</p>
            </div>
            <div class="status_box">
                <p>Vo:[[situation.Pstatus.Vo]]</p>
                <p>Da:[[situation.Pstatus.Da]]</p>
                <p>Vi:[[situation.Pstatus.Vi]]</p>
                <p>Me:[[situation.Pstatus.Me]]</p>
                <p>Memory[[(situation.Pstatus.memory_gage*100)]]%  ★[[situation.Pstatus.star]]</p>
            </div>
        </div>

        <div class='weapon'>
            <div v-for='(support, index) in settings.support_list' :key="support.key">
                <input type="radio" :id="support.key" name="weapon" :value="'S' + index" required>
                <label :for="support.key">
                    <p>[[ support.card_name ]] ([[ support.card_type ]])</p>
                    <p class='card_explain'>
                        <span v-for='(rate,col) in support.appeal'>
                            <span v-if='[[rate]]>0'>[[col]][[rate]]倍</span>
                        </span>
                        <span>アピール</span>
                    </p>
                </label>
            </div>
            <div v-for='(pweapon, index) in settings.pweapon_list' :key="pweapon.card_name">
                <input type="radio" :id="pweapon.card_name" name="weapon" :value="'P' + index" checked required>
                <label :for="pweapon.card_name">
                    <p>[[ pweapon.card_name ]] ([[ pweapon.card_type ]])
                        <span class="islink" v-if='pweapon.isLink'>LINK</span>
                    </p>
                    <p class='card_explain'>
                        <span v-if='pweapon.ATKtype == "whole"'>全観客に</span>
                        <span v-for='(rate,col) in pweapon.weapon_rate'>
                            <span v-if='[[rate]]>0'>[[col]][[rate]]倍</span>
                        </span>
                        <span>アピール</span>
                    </p>
                </label>
            </div>
            <input type="radio"  id='memory' name="weapon" value="M0" required>
            <label for="memory">思い出アピール [Lv[[settings.memory.lv]]] 
                <span class="islink" v-if = 'settings.memory.isLink'>LINK</span></lavel>
        </div>
        <div class='items'>
            <div id="judge_critical_box">
                <div class="choose_judge">
                    <P>審査員</P>
                    <div v-for='(judge,col) in situation.judge_dict'>
                    <input type="radio" :id="col" name="aim" :value="col" checked required>
                    <label :for="col">
                        <span class="judge_name">[[col]] </span>   
                        <span class="trend">流行:[[ settings.trend[col] ]]位</span>
                        <p><meter min="0" :max="judge.Max_HP" :value="judge.HP"></meter>[[judge.HP]]</p>
                    </label>
                    </div>
                </div>
                
                <div class="choose_critical">
                    <p class="">判定</p>
                    <input type="radio" id="Perfect" name="critical" value=1.5 checked required>
                    <label for="Perfect">Perfect</label>
                    <input type="radio" id="Good" name="critical" value=1.1>
                    <label for="Good">Good</label>
                    <input type="radio" id="Normal" name="critical" value=1.0>
                    <label for="Normal">Normal</label>
                    <input type="radio" id="Bad" name="clitical" value=0.5>
                    <label for="Bad">Bad</label>
                    <input id='submit' class='btn' type="submit"></input>
                </div>
            </div>
            
            <p>バフ</p>
            <div id='buff_box'>
            <ul>
                <li v-for="buff in situation.buff_list">
                    [[buff.color]][[buff.buff]]%UP [[buff.turn]]ターン
                </li>
            </ul>   
            </div>
            <p>passive</p>
            <div id="passive_box">
                <div class="tooltip" v-for="p in situation.passive_list" :key="p.id">
                    <div class="passive_icon" :class="{ 'active_passive': p.isActive }">
                        [[p.short_name]]
                    </div>
                    <span class="tooltiptext">[[p.text]] [残り: [[p.rest]]回]</span>
                </div>
            </div>
            <p>スキル履歴</p>
            <div id="skill_hist">
                <div class="skill_record" v-for='record in situation.skill_history'>[[record]]</div>
            </div>
            <div id="btn-box">
                <input type='button' class='reset-btn btn' @click="reset" value='Reset'></input>
                <input type='button' class='back-btn btn' @click="back" value='1ターン戻る'></input>
            </div>
        </div>
    </form>
    
    <!-- サイドバー -->
    <div class="sidebar right" id="right-sidebar">
        <div id="log_box">
            <p>ログ</p>
            <div class='log' v-for="log in situation.log">[[log]]</div>
        </div>  
    </div>
    
    <!-- リザルト画面 -->
    <div id="endScreen">
        <div class="end-screen-content">
          <h1>終了</h1>
          <div class="result-box">
            <div id="ranking_box">
                <p class="ranking" v-for='(star,idol,index) in result'>[[index+1]]位　[[idol]]　★[[star]]</p>
            </div>
            <div id="star_detail_box">
                <table>
                    <thead>
                        <tr>
                            <th>審査員</th>
                            <th>TA</th>
                            <th>LA</th>
                            <th>3割星</th>
                            <th>6割星</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(judge, color) in situation.judge_dict" :key="color">
                            <td> [[color]] </td>
                            <td>[[ judge.score.TA ]]</td>
                            <td>[[ judge.score.LA ]]</td>
                            <td>[[ judge.score.three_star ]]</td>
                            <td>[[ judge.score.six_star ]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="result-box">
            <div class="chart-container">
                <div v-for="(judge, color) in situation.judge_dict" :key="color" class="chart">
                    <canvas class='Piechart' :id="color+'PieChart'" ></canvas>
                    <p>[[color]]</p> 
                    <p v-for='(ATK, idol) in judge.score.appeal' :key="idol">
                        [[idol]]: [[ATK]]
                    </p>
                </div>
            </div>
                       
          </div>
          <div class="buttons">
            <button id="backButton" class='back-btn' @click="back">1ターン戻る</button>
            <button id="restartButton" class='reset-btn' @click="reset">最初から</button>
          </div>
        </div>
    </div>

      
</div>

<script src="static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            settings: {},
            situation: {},
            history: [], // 状況の履歴を保持するための配列
            isFinish:false,
            result:{}
        },
        mounted() {
            fetch('/api/init')
                .then(response => response.json())
                .then(data => {
                    this.settings = data.settings;
                    this.situation = data.situation;
                    console.log(JSON.stringify(this.situation, null, 2));
                    console.log(JSON.stringify(this.settings, null, 2));
                    
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            
        },
        methods: {
            handleSubmit() {
                
                // 現在の状況を履歴に保存
                this.history.push(JSON.parse(JSON.stringify(this.situation)));

                const data = {
                    form: Object.fromEntries(new FormData(document.querySelector('form'))),
                    situation: this.situation,
                    settings: this.settings
                };

                fetch('/api/turn', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' // データがJSON形式であることを明示
                    },
                    body: JSON.stringify(data) // オブジェクトをJSON形式の文字列に変換して送信
                })
                .then(response => response.json()) // レスポンスをJSONとしてパース
                .then(data => {
                    console.log('Received data:', JSON.stringify(data, null, 2)); // 受け取ったデータをコンソールに出力
                    this.settings = data.settings;
                    this.situation = data.situation;
                    this.result = data.result;
                    if(data.isEnd){
                        document.getElementById('endScreen').style.display = 'flex';
                        console.log(this.result)
                        this.drawChart('Vo');
                        this.drawChart('Da');
                        this.drawChart('Vi');
                      }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            },
            back() {
                document.getElementById('endScreen').style.display = 'none';
                if (this.history.length > 0) {
                    this.situation = this.history.pop(); // 履歴から最後の状況を取り出して現在の状況に設定
                }
            },
            reset(){
                document.getElementById('endScreen').style.display = 'none';
                fetch('/api/init')
                .then(response => response.json())
                .then(data => {
                    this.situation = data.situation;
                    this.history = [];
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            },
            drawChart(col) {
                // データの準備
                const appealScores = this.situation.judge_dict[col].score.appeal;
                const labels = Object.keys(appealScores);
                const data = Object.values(appealScores);

                var ctx = document.getElementById(col+'PieChart').getContext('2d');
                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: true,
                        plugins:{
                            legend: {
                            display: false
                        }
                    }
                    }

                
                });
            }
        }
    });
</script>
{%endblock%}